
*, *:before, *:after {
  box-sizing: border-box;
}

  body {
  background-color: #dadada;
  font-size: 10px;
}
.container {
  text-align: center;
  font-size: 3em;
  width: 100%;
  margin: 25%;
  background-color: #dadada;
}

.preview  {
  height: 300px;
  width: 100%;
  padding: 20px 25px;
  margin-top: 20px;
  display: inline-block;
  background-size: cover;
}
.preview  h1{
  text-align: left;
}

.baku {
    background-image: url("images/baku.jpg");
}
  .london {
  background-image: url("images/london.png");
}
.madrid {
  background-image: url("images/madrid.jpg");
}
.rome {
    background-image: url("images/rome.jpg");
}


@media screen and (min-width: 575px) {
  .preview {
    width: 100%;
    margin-right: 1%;
  }
}
@media screen and (min-width: 575px) {
  .preview {
    width: 48%;
    margin-right: 1%;
  }
}
@media screen and (min-width: 991px) {
  .preview {
    width: 23%;
    margin-right: 1%;
  }
}
